@import "./fonts.css";

.sb-show-main.sb-main-padded {
  padding: 0;
}

.sb-intro {
  padding: 2rem;

  &--container {
    width: 100vw;
    height: 100vh;
    background-image: var(--color-gradient-background);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--headline {
    color: var(--color-font-text-01);
  }

  &--logo {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    fill: var(--color-font-text-01);

    & > path {
      fill: var(--color-font-text-01);
    }
  }

  &--subline {
    margin-top: 1rem;
    color: var(--color-font-text-01);
  }
}

body.sb-show-main {
  transition: background-color 0.2s !important;
  background-color: var(--color-app-background);
}

.bb--grid-example {
  padding: 1rem;
  border: 0.0625rem dashed var(--color-brand-04);
  color: var(--color-font-text-01);
}

.bb--lottie-example {
  display: inline-flex;
  position: absolute;
  height: 1rem;
}
